{% extends 'registration/registration_base.html' %}
{% block title %}Email Sent | Learning management system{% endblock title %}
{% load crispy_forms_tags %}

{% block content %}
<div id="login">
  <h3 class="login-title">Письмо отправлено</h3>
  <div class="container">
    <div class="alert alert-success">
      <i class="fas fa-check-circle"></i>Инструкции по сбросу пароля отправлены на вашу электронную почту,
      проверьте почтовый ящик.
    </div>
    <a class="btn btn-primary" href="{% url 'login' %}"><i class="far fa-arrow-alt-circle-left"></i>Назад к входу</a>
  </div>
</div>
{% endblock content %}
